@using SalesforceWeb.Utilities
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
<div class="horizontal-menu">
    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="link-icon" data-feather="box"></i>
                        <span class="menu-title">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="inbox"></i>
                        <span class="menu-title">Forms</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Credentialing" asp-action="Index">Get Credentialing Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="RelatedAccount" asp-action="Index">Get Related Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ServiceListing" asp-action="Index">Service Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Practitioner" asp-action="Index">Full / Edit Practitioner</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Organization" asp-action="Index">Full / Edit Organization</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Audit" asp-action="Index">Audit Trail</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="inbox"></i>
                        <span class="menu-title">Settings</span>
                        <i class="link-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            @if (httpAcc.HttpContext.Session.GetString(StaticData.SessionToken) != null &&
                            httpAcc.HttpContext.Session.GetString(StaticData.SessionToken).ToString().Length > 0)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>
                                </li>
                            }
                            
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>