<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Salesforce Application">
    <meta name="author" content="AswinKumarRajan">
    <title>@ViewData["Title"] - UNIVERSAL CREDENTIALING APPLICATION</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->
    <!-- core:css -->
    <link rel="stylesheet" href="~/assets/vendors/core/core.css" asp-append-version="true">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css" asp-append-version="true">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/fonts/feather-font/css/iconfont.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css" asp-append-version="true">
    <!-- endinject -->
    <!-- Editor styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/material.min.css">
    <!-- End Editor styles -->

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.json-viewer@1.5.0/json-viewer/jquery.json-viewer.min.css" />

    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <!-- End layout styles -->

    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
</head>
<body>

    <div class="main-wrapper">

        <partial name="_Header" />

        <div class="page-wrapper">

            <div class="page-content">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>

            <partial name="_Footer" />

        </div>
    </div>
    <!-- core:js -->
    <script src="~/assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/assets/js/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
    <script src="~/assets/js/jsonEditor.js"></script>
    <script src="~/assets/js/contentVersion.js"></script>
    <script src="~/assets/js/postjsonbody.js"></script>

    <!-- End custom js for this page -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.json-viewer@1.5.0/json-viewer/jquery.json-viewer.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await Component.InvokeAsync("NToastNotify")

    <script src="~/lib/toastr.js/toastr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
