@model SalesforceWeb.Dtos.LoginRequestDto

<div class="row w-100 mx-0 auth-page p-5">
    <div class="col-md-8 col-xl-10 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-4 col-xl-6 pe-md-0">
                    <div class="auth-side-wrapper">
                    </div>
                </div>
                <div class="col-md-8 col-xl-6 ps-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                        <div class="logo-container">
                            <img src="~/assets/images/medversantlogo.jpeg" alt="Logo" class="logo">
                        </div>
                        <a href="#" class="noble-ui-logo d-block mb-2">Login</a>
                        <h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>
                        <a href="#" class="login-head d-block mb-2">UNIVERSAL CREDENTIALING APPLICATION</a>
                        <form class="forms-sample" method="post">
                            <div class="row text-center">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                            <div class="mb-3">
                                <label for="userEmail" class="form-label">Email address</label>
                                <input asp-for="UserName" type="email" class="form-control" id="userEmail" placeholder="Email" />
                            </div>
                            <div class="mb-3">
                                <label for="userPassword" class="form-label">Password</label>
                                <input asp-for="Password" type="password" class="form-control" id="userPassword" autocomplete="current-password" placeholder="Password" />
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="authCheck">
                                <label class="form-check-label" for="authCheck">
                                    Remember me
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0" value="Submit">Login</button>
                            </div>
                            <a asp-controller="Auth" asp-action="Register" class="d-block mt-3 text-muted">Didn't have an account? <span class="text-primary">Sign up</span></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}