@model SalesforceWeb.Dtos.RegisterationRequestDto

<div class="row w-100 mx-0 auth-page p-5">
    <div class="col-md-8 col-xl-6 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-4 pe-md-0">
                    <div class="auth-side-wrapper">
                    </div>
                </div>
                <div class="col-md-8 ps-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                        <a href="#" class="noble-ui-logo d-block mb-2">Register</a>
                        <h5 class="text-muted fw-normal mb-4">Create a New account.</h5>
                        <form class="forms-sample" method="post">
                            <div class="row text-center">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputUsername1" class="form-label">User Name</label>
                                <input asp-for="Name" type="text" class="form-control" id="userName" autocomplete="Username" placeholder="User Nameame" />

                            </div>
                            <div class="mb-3">
                                <label for="userEmail" class="form-label">Email address</label>
                                <input asp-for="UserName" type="email" class="form-control" id="userEmail" placeholder="Email" />
                            </div>
                            <div class="mb-3">
                                <label for="userPassword" class="form-label">Password</label>
                                <input asp-for="Password" type="password" class="form-control" id="userPassword" autocomplete="current-password" placeholder="Password" />
                            </div>
                            <div class="mb-3">
                                <label for="userPassword" class="form-label">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" autocomplete="current-password" placeholder="Confirm Password" />
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0" value="Submit">Register</button>
                            </div>
                            <a asp-controller="Auth" asp-action="Login" class="d-block mt-3 text-muted">Already a user? Sign in</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}