@model SalesforceWeb.Dtos.PractitionerFullDto

<form asp-action="GetPractitioner">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Get Practitioner</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;" value="@Model.PractitionerCPDtos.First_Name__c"> </label>
            </div>
            <div class="col-10 pb-3">
                <input type="text" class="form-control" value="@Model.PractitionerCPDtos.First_Name__c" /></p>
                @* <span asp-validation-for="@Model.PractitionerCPDtos.First_Name__c" class="text-danger"></span> *@
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
